/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #FF0070; /*цвет бакграунда*/
  --text-shadow: #FF0070;
  --font-family-main:"IBM Plex Mono", sans-serif;
  --text-color:#000028;
  --text-color_pink:#FF0070; /*цвет заголовков слева*/
  --section-title-color:#DB00FF; /*Цвет заголовка Focus*/
  --title-decor-bg-color:#FF0070; /*задний фон текста*/
  --title-decor-color:#F1B2CE;
  --focus-font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --color-link:#F1B2CE; /*цвет ссылки в тексте*/
  --accent-color:#FF8DCB;
  }
